<div id="<%= dom_id question %>">
  <div>
    <strong>Title:</strong>
    <%= question.title %>
  </div>

  <div>
    <strong>Content:</strong>
    <%= question.content %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= question.name %>
  </div>

  <div>
    <strong>Finished:</strong>
    <%= question.finished %>
  </div>

</div>
