<h1 class="display-4 text-primary">
  <%= @person.name %> さんの Messages
</h1>



<table class="table">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Message</th>
    <th></th>
  </tr>

  <% @messages.each do |msg| %>
    <tr>
      <td><%= msg.id %></td>

      <!-- show -->
      <td><%= link_to msg.title, msg %></td>

      <td><%= msg.message %></td>

      <!-- edit -->
      <td><%= link_to "Edit", [:edit, msg] %></td>
    </tr>
  <% end %>
</table>



<%= link_to "New Message",
  new_person_message_path(@person),
  class: "btn btn-primary" %>
