<h1 class="display-6 my-4">Sign in</h1>
<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<%= form_with url: session_path do |form| %>
  <div class="field">
    <%= form.label :email_address, class:"form-label" %><br/>
    <%= form.email_field :email_address, required: true, 
      class:"form-control",
      autofocus: true, autocomplete: "username", 
      placeholder: "Enter your email address", 
      value: params[:email_address] %><br>
  </div>
  <div class="field">
    <%= form.label :password, class:"form-label" %><br/>
    <%= form.password_field :password, required: true, 
      class:"form-control",
      autocomplete: "current-password", 
      placeholder: "Enter your password", 
      maxlength: 72 %><br>
  </div>
  <div class="signin-button">
    <%= form.submit "Sign in" %>
  </div>
<% end %>
<br>



<%= link_to "Forgot password?", new_password_path %>








<div class="mt-3">


 

  <%= link_to "新規登録はこちら",
            new_user_path,
            data: { turbo: false } %>




</div>



