<div class="comment mb-2 ms-<%= comment.parent_id ? 4 : 0 %>">
  <p><%= comment.content %></p>

  <small class="text-muted">
    <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>
  </small>

  <div>
    <%= link_to "返信する",
        "#",
        data: {
          action: "click->reply#toggle",
          comment_id: comment.id
        },
        class: "small" %>
  </div>

  <!-- 返信フォーム -->
  <div id="reply-form-<%= comment.id %>" class="d-none">
    <%= render "comments/form",
          post: comment.post,
          comment: Comment.new(parent_id: comment.id) %>
  </div>

  <!-- 子コメント -->
  <% comment.replies.each do |reply| %>
    <%= render "comments/comment", comment: reply %>
  <% end %>
</div>


