<div id="<%= dom_id mycontact %>">
  <div>
    <strong>Name:</strong>
    <%= mycontact.name %>
  </div>

  <div>
    <strong>Age:</strong>
    <%= mycontact.age %>
  </div>

  <div>
    <strong>Nationality:</strong>
    <%= mycontact.nationality %>
  </div>

  <div>
    <strong>Mail:</strong>
    <%= mycontact.mail %>
  </div>

</div>
